body{
    background-color: rgb(255, 255, 255);
}

.head{
    margin: auto;
    background-color:rgb(43, 41, 41);
    width: 800px;
    height: 250px;
    position: relative;
}

.head2{
    margin: auto;
    background-color:rgb(43, 41, 41);
    width: 800px;
    height: 150px;
    position: relative;
    color: #fff;
}

.head3{
    margin: auto;
    width: 800px;
    height: 100px;
    position: relative;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

input{
    margin: 20px 20px;
    padding: 10px 10px;
    width: 150px;
    border-radius: 10px;
}

#myPara{
    font-size: 18px;
    margin: 40px 20px;
    padding: 10px 20px;
    background-color: rgb(213, 213, 213);
    color: rgb(61, 54, 54);
    position: absolute;
    width: 90%;
    border-radius: 5px;
    
}

.myPara{
    font-size: 16px;
    margin: 20px 20px;
    padding: 20px 20px;
    color: rgb(119, 115, 115);
    position: absolute;
    top: 100px;
}
